.env
.env.local
__pycache__
*.pyc
.venv
venv
.git
.gitignore
.gitkeep
.vscode
.idea
*.log
nmap_output/
snmp_output/
playbooks/snmp_output/
playbooks/runningConfigs/
playbooks/tempRun/
playbooks/syslog/
playbooks/configDrift/
playbooks/goldenState/
.DS_Store
