[defaults]
# This skips the 'yes/no' prompt
host_key_checking = False

# Optional: Stop those annoying deprecation warnings
deprecation_warnings = False
action_warnings = False


[ssh_connection]
# This adds the algorithms your Fedora laptop normally blocks
ssh_args = -o HostKeyAlgorithms=+ssh-rsa -o PubkeyAcceptedAlgorithms=+ssh-rsa



# Ensure it uses the right Python interpreter
interpreter_python = auto_silent
